- if list.length > 0
  .hero-unit
    %center
      %table.table.table-hover
        %thead
          %tr
            %th #
            %th URL original
            %th URL acortada
        %tbody
        - list.each do |element|
          %tr
            %td #{element.id}
            %td 
              %a{:href=>"#{element.url}"} #{element.url}
            %td 
              - if !element.custom_url.nil? && element.custom_url.length > 0
                %a{:href => "/#{element.id}"} http://#{element.custom_url}
              - else
                %a{:href => "/#{element.id}"} http://#{element.id.to_s(36)}
- else
  %h4 No hay entradas en la base de datos.

%center
  %h3
    %u Visitas por país
  %h4
    %table.table-bordered
      %tr
        %td
          %h4 País
        %td
          %h4 Nº Visitas
      - @paises.each do |p|
        %tr
          %td
            %h4 #{p}
          %td
            %h4 #{Visit.where(:country => "#{p}").count}
    
    %br  
    %u Total: 
    #{@cont}
