- if @short_url.present? && !@short_url.valid?
  .alert.alert-error
    %button.close{"data-dismiss" => "alert", :type => "button"} ×
    %strong Error!
    La URL que ha introducido no es válida.

- if @short_url.present? && @short_url.valid? && @new == TRUE
  .alert.alert-success
    %button.close{"data-dismiss" => "alert", :type => "button"} ×
    %strong Éxito!
    La nueva URL se ha generado correctamente.

- if @exist.present? && @exist == TRUE
  .alert.alert-warning
    %button.close{"data-dismiss" => "alert", :type => "button"} ×
    %strong Aviso!
    La URL que ha introducido ya existe en la base de datos. Compruebe el listado de URLs.    

.tabbable
  %ul.nav.nav-tabs{:style=>"margin: 0px 0px 0px 0px;"}
    -if opt == "0"
      %li.active
        %a{"data-toggle" => "tab", :href => "#new"} Generar nueva URL
    - else
      %li
        %a{"data-toggle" => "tab", :href => "#new"} Generar nueva URL
    %li
      %a{"data-toggle" => "tab", :href => "#custom"} Generar URL personalizada
    -if opt == "1"
      %li.active
        %a{"data-toggle" => "tab", :href => "#search"} Buscar URL
    - else
      %li
        %a{"data-toggle" => "tab", :href => "#search"} Buscar URL
    %li
      %a{"data-toggle" => "tab", :href => "#list"} Listado completo de URLs
  .tab-content{:style=>"background:#ffffff; padding-top: 20px;"}
    -if opt == "0"
      #new.tab-pane.active
        = haml :new
    - else
      #new.tab-pane
        = haml :new
    #custom.tab-pane
      = haml :custom
    -if opt == "1"
      #search.tab-pane.active
        = haml :search
    - else
      #search.tab-pane
        = haml :search
    #list.tab-pane
      = haml :list, :locals => { :listado => u }